{% extends "student/base.html" %}



{% block content %}

<form action="" method="post">
{% csrf_token %}
<div class="card mb-4">
    <div class="card-header">Contact Details</div>
    <div class="card-body">

        <div class="row">
            <div class="mb-3 col-3">
                <label for="id_first_name" class="form-label">First Name</label>
                <input type="text" class="form-control" id="id_first_name" name="first_name" value="{{ form.first_name.value|default_if_none:'' }}">
                {{ form.first_name.errors }}
            </div>

            <div class="mb-3 col-3">
                <label for="id_middle_name" class="form-label">Middle Name</label>
                <input type="text" class="form-control" id="id_middle_name" name="middle_name" value="{{ form.middle_name.value|default_if_none:'' }}">
                {{ form.middle_name.errors }}
            </div>

            <div class="mb-3 col-3">
                <label for="id_last_name" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="id_last_name" name="last_name" value="{{ form.last_name.value|default_if_none:'' }}">
                {{ form.last_name.errors }}
            </div>

            <div class="mb-3 col-3">
                <label for="id_suffix" class="form-label">Suffix</label>
                <input type="text" class="form-control" id="id_suffix" name="suffix" value="{{ form.suffix.value|default_if_none:'' }}">
                {{ form.suffix.errors }}
            </div>


        </div>

        <div class="row">

            <div class="mb-3 col-3">
                <label for="id_birth_date" class="form-label">Birth Date</label>
                <input type="date" class="form-control" id="id_birth_date" name="birth_date" value="{{ form.birth_date.value|date:'Y-m-d' }}">
                {{ form.birth_date.errors }}
            </div>

            <div class="mb-3 col-3">
                <label for="id_sex" class="form-label">Sex</label>
                <select class="form-select" id="id_sex" name="sex">
                    {% for value, text in form.fields.sex.choices %}
                        <option value="{{ value }}" {% if form.sex.value == value %}selected{% endif %}>{{ text }}</option>
                    {% endfor %}
                </select>
                {{ form.sex.errors }}
            </div>

            <div class="mb-3 col-3">
                <label for="id_civil_status" class="form-label">Civil Status</label>
                <select class="form-select" id="id_civil_status" name="civil_status">
                    {% for value, text in form.fields.civil_status.choices %}
                        <option value="{{ value }}" {% if form.civil_status.value == value %}selected{% endif %}>{{ text }}</option>
                    {% endfor %}
                </select>
                {{ form.civil_status.errors }}
                </div>

        </div>

        <div class="row">
            <div class="mb-3 col-3">
                <label for="id_country_of_birth" class="form-label">Country of Birth</label>
                <input type="text" class="form-control" id="id_country_of_birth" name="country_of_birth" value="{{ form.country_of_birth.value|default_if_none:'' }}">
                {{ form.country_of_birth.errors }}
            </div>

            <div class="mb-3 col-3">
                <label for="id_birth_place" class="form-label">Birth Place</label>
                <input type="text" class="form-control" id="id_birth_place" name="birth_place" value="{{ form.birth_place.value|default_if_none:'' }}">
                {{ form.birth_place.errors }}
            </div>

            <div class="mb-3 col-3">
                <label for="id_nationality" class="form-label">Nationality</label>
                <input type="text" class="form-control" id="id_nationality" name="nationality" value="{{ form.nationality.value|default_if_none:'' }}">
                {{ form.nationality.errors }}
            </div>

            <div class="mb-3 col-3">
                <label for="id_religion" class="form-label">Religion</label>
                <input type="text" class="form-control" id="id_religion" name="religion" value="{{ form.religion.value|default_if_none:'' }}">
                {{ form.religion.errors }}
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-3">
                <label for="id_mobile_number" class="form-label">Mobile Number</label>
                <input type="text" class="form-control" id="id_mobile_number" name="mobile_number" value="{{ form.mobile_number.value|default_if_none:'' }}">
                {{ form.mobile_number.errors }}
            </div>

            <div class="mb-3 col-3">
                <label for="id_telephone_number" class="form-label">Telephone Number</label>
                <input type="text" class="form-control" id="id_telephone_number" name="telephone_number" value="{{ form.telephone_number.value|default_if_none:'' }}">
                {{ form.telephone_number.errors }}
            </div>

            <div class="mb-3 col-3">
                <label for="id_personal_email" class="form-label">E-Mail</label>
                <input type="text" class="form-control" id="id_personal_email" name="personal_email" value="{{ form.personal_email.value|default_if_none:'' }}">
                {{ form.personal_email.errors }}
            </div>

        </div>


    </div>
</div>


<!-- 2nd section -->

<div class="card mb-4">
    <div class="card-header">Contact Details</div>
    <div class="card-body">
        {{ contact_formset.management_form }}
        {% for form in contact_formset %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
        {% endfor %}
    </div>
</div>

<!-- end of 2nd section -->

<!-- 3rd section -->
<div class="card mb-4">
    <div class="card-header">Address Details</div>
    <div class="card-body">
        {{ address_formset.management_form }}
        {% for form in address_formset %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
        {% endfor %}
    </div>
</div>
<!-- end 3rd section -->

<button type="submit" class="btn btn-primary">Save changes</button>

</form>
{% endblock %}