{% extends "student/base.html" %}



{% block content %}


<html>
<head>
    <title>Add New Student with Address and Contact</title>
</head>
<body>
    <h2>Add New Student</h2>
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Student Information:</legend>
            {{ form.as_p }}
        </fieldset>
        <fieldset>
            <legend>Address Information:</legend>
            {{ address_form.as_p }}
        </fieldset>
        <fieldset>
            <legend>Contact Information:</legend>
            {{ contact_form.as_p }}
        </fieldset>
        <button type="submit">Submit</button>
    </form>
</body>
</html>


{% endblock %}