{% extends "student/base.html" %}



{% block content %}

<form action="" method="post">
{% csrf_token %}

<!-- Basic Details -->
{% include "student/components/student-create/student-basic-details.html" %}


<!-- Contact Details -->

{% include "student/components/student-create/student-contact-details.html" %}


<!-- Address Details -->

{% include "student/components/student-create/student-address-details.html" %}


<button type="submit" class="btn btn-primary">Register</button>

</form>
{% endblock %}